* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
.cabecalho {   
     background-color: #383D58;
     color: white;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 24px 0;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem {
    width: 25%;
}

.escola {
    background-image: linear-gradient(#383D58,#F6F7F8);
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    
}

.escola-div-conteudo {
    text-content: center
    width: 35%;
}

.escola-titulo {
    padding: 24px 0;
}

.quem-somos-texto {
    padding: 5%;
}

.rodape {
    background-color: black;
    color: white;
    
}